body {
    --color1: #e53d00ff;
    --color2: #ffe1d7ff;
    --color3: #fafafaff;
    --color4: #ffe900ff;
    --color5: #21a0a0ff;
    --color6: #000f14ff;
    --color7: #323232ff;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logo-div {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #202020;
}

.logo-plane {
    height: 130px;
}

h1 {
    display: inline-block;
    font-family: 'Lato';
    font-style: normal;
    font-size: 2.5rem;
    color: var(--color1);
    margin-left: -6px;
}

.header-span {
    color: var(--color7);
}

.byline {
    display: inline-block;
    position: absolute;
    margin-top: 65px;
    margin-left: 125px;
    font-family: 'Lato';
    font-style: italic;
    letter-spacing: .7px;
}

.navLinks {
    padding-left: 50px;
    text-decoration: none;
}

.login {
    color: var(--color6);
}

.signup {
    color: var(--color1);
}

@media only screen and (max-device-width: 453px) {
    header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .byline {
        display: none;
    }
}