.details-main {
    height: 100%;
    min-height: 85vh;
}

.trip-thing {
    border: solid 2px var(--color6);
    padding: 0px 10px;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    height: 100%;
    grid-gap: 10px;
    border-radius: 20px;
    background-color: #272727;
    color: #E7EAEF;
    justify-self: center;
    align-items: center;
    box-shadow: 0 3px 10px rgba(57, 63, 72, 0.3);
    cursor: pointer;
}

.details-h2 {
    font-size: 50px;
    color: #202020;
    text-align: center;
}

.subsection-category {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 2fr;
}

.subsection-h3 {
    text-align: center;
    font-family: 'Lato';
}

.subsection-rating, .subsection-address {
    text-align: center;
}

.name-detail {
    color: #ffdf3d;
    font-size: 2em;
}

.image-detail {
    height: 230px;
    width: 100%;
    padding: 5px;
}

@media only screen and (max-device-width: 814px) {
    .details-main, .trip-thing {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-items: center;
      }
    
    .image-detail {
        height: 230px;
        width: auto;
        border: solid 3px var(--color6);
    }
 }