.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  font-family: 'Lato';
  font-size: .8em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--color1);
  opacity: .8;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
}

.login-h2 {
  font-size: 1em;
  letter-spacing: 2px;
  color: var(--color7);
  margin-bottom: 40px;
}