.itinerary-main {
    height: 100%;
    min-height: 85vh;
}

.category-container {
    display: grid;
    text-align: center;
    margin: 0 15px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.category-label {
    border: none;
    height: 412px;
    width: 375px;
    border-radius: 20px;
    background-color: #ffe1d7ff;
    overflow: hidden;
    justify-self: center;
    box-shadow: 0 3px 10px rgba(57, 63, 72, 0.3);
    cursor: pointer;
}

.category-label:hover {
    box-shadow: 0px 9px 19px 2px rgba(57, 63, 72, 0.4);
    height: 422px;
    width: 385px;
    background-color: rgb(255, 219, 208);
}

.category-img {
    height: 230px;
    width: 100%;
}

.category-h2 {
    font-size: 1.2rem;
    margin: 5px 0px;
}

.review-h2 {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    margin-left: 10px;
}

.review {
    margin: 10px 10px;
    font-size: .85rem;
    text-align: start;
}

.rating {
    font-size: .85rem;
    margin: 10px 10px;
}

.hidden {
    display: none;
}
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}